/* Styles for the scene graph in LifeView.fxml
 *
 * Relative/local resource-based styles are currently placed in a separate
 * stylesheet to allow the live style-editor to function.
 */
.root {
	/*
	 * Apparently FX doesn't (currently?) support CSS variables, but does
	 * support "looked-up colors".
	 */
	BG-PRIMARY: #576F8D;
	BG-SECONDARY: white;
	TEXT-PRIMARY: ghostwhite;
	BIG-TEXT-PRIMARY: white;
	BUTTON-TEXT-COLOR: black;
	BORDER-COLOR: black;
	BORDER-FOCUSED: darkslateblue;
	HIGHLIGHT-PRIMARY: #50A000;
	HIGHLIGHT-DANGER: #D20000;
	-fx-font-size: 14;
}

.app-text, .big-text, .app-button, .cancel-button {
	-fx-font-family: 'Bungee';
	-fx-text-alignment: center;
}

.app-text {
	-fx-fill: TEXT-PRIMARY;
}

.big-text {
	-fx-fill: BIG-TEXT-PRIMARY;
	-fx-stroke: BORDER-COLOR;
	-fx-stroke-type: outside;
	-fx-stroke-width: 5;
}

.app-label {
	-fx-text-fill: TEXT-PRIMARY;
	-fx-font-weight: bold;
}

.app-button, .cancel-button {
	-fx-text-fill: BUTTON-TEXT-COLOR;
	-fx-content-display: center;

	-fx-background-color: BG-SECONDARY;
	-fx-background-insets: 1;

	-fx-border-color: BORDER-COLOR;
	-fx-border-width: 3;

	-fx-font-size: 18;
}

.app-button:hover, .cancel-button:hover {
	-fx-scale-x: 110%;
	-fx-scale-y: 110%;
}

.app-button:hover {
	-fx-background-color: HIGHLIGHT-PRIMARY;
}

.app-button:armed {
	-fx-background-color: derive(HIGHLIGHT-PRIMARY, -20%);
}

.cancel-button:hover {
	-fx-background-color: HIGHLIGHT-DANGER;
}

.cancel-button:armed {
	-fx-background-color: derive(HIGHLIGHT-DANGER, -20%);
}

.app-button:focused, .cancel-button:focused {
	-fx-border-color: BORDER-FOCUSED;
}

#app-root {
	-fx-background-color: BG-PRIMARY;
	-fx-background-insets: 8;
	-fx-border-color: BORDER-COLOR;
	-fx-border-width: 3;
	-fx-border-insets: 8;

	/* padding on the right for the toolbar */
	-fx-padding: 0 8 0 0;
}

#top-box {
	-fx-alignment: center;
	-fx-padding: 10;
}

#title-text {
	-fx-font-size: 48;
}

#center-pane {
	-fx-background-color: transparent;
	-fx-border-style: solid outside;
	-fx-border-color: BORDER-COLOR;
	-fx-border-width: 3;
	-fx-border-insets: 0 8 0 8;

	-fx-pannable: true;
	-fx-vbar-policy: never;
	-fx-hbar-policy: never;
}

#toolbar {
	-fx-orientation: vertical;
	-fx-alignment: top-center;
	-fx-background-color: derive(BG-PRIMARY, -10%);
	-fx-border-color: derive(BG-PRIMARY, 10%);
	-fx-border-width: 3;
	-fx-spacing: 4;
	-fx-padding: 0 8 0 8;
}

#toolbar .tbb {
	-fx-content-display: graphic-only;
	-fx-pref-width: 16;
	-fx-pref-height: 16;
	-fx-background-color: transparent;
	-fx-background-size: 16;
	-fx-background-radius: 3;
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
}

#toolbar .tbb:hover,
#toolbar .menu-button:showing {
	-fx-background-color: derive(BG-PRIMARY, 20%);
}

#toolbar .tbb:armed {
	-fx-opacity: 80%;
}

/* Make menu buttons look like a regular button:
 * https://stackoverflow.com/a/30211975
 */
#toolbar .menu-button > .arrow-button,
#toolbar .menu-button > .arrow-button > .arrow {
	-fx-padding: 0;
}

#bottom-box * {
	-fx-alignment: center;
}

#flavor-text-group {
	-fx-padding: 10;
}

#flavor-text {
	-fx-font-size: 12;
}

#button-group {
	-fx-spacing: 20;
	-fx-padding: 0 10 10 10;
}

#misc-group {
	-fx-spacing: 40;
	-fx-padding: 0 20 10 20;
}

#debug-text {
	-fx-fill: lightgray;
}

#size-controls {
	-fx-spacing: 40;
	-fx-padding: 0 10 10 10;
}

.slider-box {
	-fx-spacing: 8;
}

.slider-box .label {
	-fx-text-fill: TEXT-PRIMARY;
}

.slider-box .value-label {
	-fx-font-weight: bold;
}
